/* About */


    .about_inner{
        display: flex;
        justify-content: center;
        align-items: center;/* ☆ */
        
        @include mq(sm){
            text-align: center;
          flex-direction: column;
        }

        @include mq(lg){
        flex-direction: row;
        }

    }

  #about{
    img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
    @include mq(lg){
      margin-right: 30px;
    }
    }

    
    @include mq(sm){
      margin-bottom: 3%;
    }
  }

    
    .about_txt{
      text-align: left;
        @include mq(lg){
            width: 397px; 
        }
   
    
      h3{
        font-weight: bold;
        margin-bottom: 2%;
      }
    }
  