
img{
    width: 100%;
  }



  .wrapper {


    @include mq(lg){
        width: 960px;    
    }


  margin: 0 auto 100px auto;
  text-align: center;/*  タイトルが中央配置になる */

    padding: 0 4%;
  }
  
  
  
  /* title */
  .section-title{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    width: 110px;
    text-align: center; 
    margin-bottom: 75px;
    border-bottom: 1px solid #000;
  
  }